// @import "_typography";
@import "_vars";
@import "_base";
@import "_tabs";
@import "_accordion";
@import "_lightbox";

body,html{
	height: 100%;
	padding: 0;
	background-color: white;
	color: #000;
	font-family: $mainFont;
}

.alpin-ui{
	padding: 20px;
}

